/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/jan/2015, 15:37:29
    Author     : david
*/
#top{
    background-color: darkgrey;
}
#g-map{
    background-image: url(../sprites/mapa_cidade2.png);
    background-repeat: no-repeat;
    width:800px;
    height:600px;
}
#pos1{
    margin-top: 110px;
    margin-left: 445px;
    position: absolute;
}
#pos2{
    margin-top: 170px;
    margin-left: 170px;
    position: absolute;
}