/* 
    Created on : Jan 19, 2015, 1:46:21 PM
    Author     : night8ug
*/

body{
    border: 1px solid #000000;
    width: 95%;
    margin: auto;

}



/*DISPLAY*/
.display{
    display: block;
}

.no-display{
    display: none;
}

.inline{
    display: inline;
}

/*VISIBIlITY*/
.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}

/*DIV MAIN*/


#g-info,
#dicas{
    background: #0056FF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#draggables {
	height: 100px;
	position: relative;
}
 
#draggables div {
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
	cursor: move;
	background: #c17878;
	position: absolute;
}
 
 
#droppables div {
	float: left;
	margin: 10px;
	width: 100px;
	height: 100px;
	background: #1d1d20;
}
 

#g-map{
    background: url(../images/test_floor.png) no-repeat;
    //background-size: 100%;
    width: 801px;
    height: 473px;
    float: left;
    
    box-shadow: 10px 10px 5px #888888; 
    border: 2px solid;
    border-radius: 25px; 
}

#gm-window{

    float: right;
}


#g-window2{
    clear: both;
    position: relative;
}

#g-info{
    float: left;
    width: 69%;
    height: 100%;
    background-color: #0056FF;
    border: 1px solid #000000;
}

#lb{
    float: left;
    margin-left: 0;
}

#rb{
    clear: right;
    float: right;
    margin-right: 0;
}

#dica{
    clear: right;
    float: left;
    width: 27%;
    height: 100%;
    background-color: aquamarine;
    border: 1px solid #000000;
    position: relative;
    padding-right: 10px;
    padding-left: 10px
}

#news{
    clear: both;
}

img{
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 490.9px) {
    /*    body {
            background-color: lightblue;
        }*/
}