/* 
    Created on : Jan 19, 2015, 1:46:21 PM
    Author     : night8ug
*/

body{
    border: 1px solid #000000;
    width: 95%;
    margin: auto;

}



/*DISPLAY*/
.display{
    display: block;
}

.no-display{
    display: none;
}

.inline{
    display: inline;
}

/*VISIBIlITY*/
.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}

/*DIV MAIN*/


#g-info,
#dicas{
    background: #0056FF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#dropables, #draggables
{
    width: 50%;
    height: 100%;
    //display: table;
    margin: auto;
}
#droppables div,#draggables span{
    width: 100px;
    height: 100px;
    
}

#p1{
    
    top: 150px;
    left: 180px;
    position: absolute;
}
#p2{
    
    top: 100px;
    left: 500px;
        position: absolute;
}
#p3{
    
    top: 400px;
    left: 280px;
        position: absolute;
}
#p4{
    
    top: 340px;
    left: 600px;
        position: absolute;
}
#p5{
    
    top: 250px;
    left: 420px;
        position: absolute;
}


#droppables img, #draggables img{
    //    width:100px;
    //    height: 100px;
    width: 100px;
    height: 100px;
}

#g-map{
    background: url(../images/test_floor.png) no-repeat;
    //background-size: 100%;
    width: 801px;
    height: 473px;
    float: left;

    box-shadow: 10px 10px 5px #888888; 
    border: 2px solid;
    border-radius: 25px; 
}

#g-window{
    height: 477px;

}

#gm-window{

    // float: right;
    overflow: hidden;
    height: 100%;
}


#g-window2{
    clear: both;
    position: relative;
}

#g-info{
    float: left;
    width: 69%;
    height: 100%;
    background-color: #0056FF;
    border: 1px solid #000000;
}

#lb{
    float: left;
    margin-left: 0;
}

#rb{
    clear: right;
    float: right;
    margin-right: 0;
}

#dica{
    clear: right;
    float: left;
    width: 27%;
    height: 100%;
    background-color: aquamarine;
    border: 1px solid #000000;
    position: relative;
    padding-right: 10px;
    padding-left: 10px
}

#news{
    clear: both;
}

#header img {
    width: 50px;
    height: 50px;
}
/*
@media screen and (max-width: 490.9px) {
        body {
            background-color: lightblue;
        }
}*/
