/* 
    Created on : Jan 19, 2015, 1:46:21 PM
    Author     : night8ug
*/

body{
    border: 1px solid #000000;
    width: 95%;
    margin: auto;

}



/*DISPLAY*/
.display{
    display: block;
}

.no-display{
    display: none;
}

.inline{
    display: inline;
}

/*VISIBIlITY*/
.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}

/*DIV MAIN*/


#g-info,
#dicas{
    background: #0056FF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
//tooltip
.tool-tip {
	color: #fff;
	width: 139px;
	z-index: 13000;
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(../images/bubble.png) top left;
}
 
.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
        color: white;
	background: url(../images/bubble.png) bottom right;
       
}
 
.custom-tip {
	color: #000;
	width: 130px;
	z-index: 13000;
}
 
.custom-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #3E4F14;
	padding: 8px 8px 4px;
	background: #C3DF7D;
	border-bottom: 1px solid #B5CF74;
}
 
.custom-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: #CFDFA7;
}
//end tooltip

/*#draggables {
	height: 100px;
	position: relative;
}*/
/* 
#draggables div {
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
	cursor: move;
	background: #c17878;
	position: absolute;
}
 */
 
  
#draggables div {
	//top: 10px;
	//left: 10px;
	width: 50px;
	height: 50px;
	cursor: move;
        float:left;
	//background: #c17878;
	position: relative;
        padding: 10px;
        
}

 
 
#droppables div {
	float: left;
	//margin: 10px;
        margin: 80px;
	width: 100px;
	height: 100px;
	//background: #1d1d20;
}
 
#droppables img, #draggables img {
    width:100px;
    height: 100px;
}

#g-map{
    background: url(../images/test_floor.png) no-repeat;
    //background-size: 100%;
    width: 801px;
    height: 473px;
    float: left;
    
    box-shadow: 10px 10px 5px #888888; 
    border: 2px solid;
    border-radius: 25px; 
}

#gm-window{

    float: right;
}


#g-window2{
    clear: both;
    position: relative;
}

#g-info{
    float: left;
    width: 69%;
    height: 100%;
    background-color: #0056FF;
    border: 1px solid #000000;
}

#lb{
    float: left;
    margin-left: 0;
}

#rb{
    clear: right;
    float: right;
    margin-right: 0;
}

#dica{
    clear: right;
    float: left;
    width: 27%;
    height: 100%;
    background-color: aquamarine;
    border: 1px solid #000000;
    position: relative;
    padding-right: 10px;
    padding-left: 10px
}

#news{
    clear: both;
}

#header img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 490.9px) {
    /*    body {
            background-color: lightblue;
        }*/
}